body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #c1aaaa;
    font-family: Arial, sans-serif;
  }
  
  .calculator {
    background-color: #604c4c;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  #display {
    width: 90%;
    height: 40px;
    font-size: 20px;
    text-align: right;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #2f1919;
    color: #fff;
    padding: 5px 10px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  button {
    width: 100%;
    height: 40px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4b3d3d;
    color: #fff;
    outline: none;
    transition: background-color 0.2s;
  }
  
  button:hover {
    background-color: #9a9393;
  }
  